/* You can add global styles to this file, and also import other style files */

.cell {
    width: 32px;
    height: 32px;
    border: solid 1px #666;
    border-radius: 16px;
    overflow: hidden;
}

.cell-impossible {
    background-color: grey;
}

.cell-forbidden {
    background-color: red;
}

.cell-selected {
    background-color: green;
}
