.cell {
    stroke: lightgray;
    fill: white;
}

.cell-team-a {
    fill: blue;
}

.cell-team-b {
    fill: red;
}

.cell-forced-a {
    stroke: blue;
    stroke-width: 2;
}

.cell-forced-b {
    stroke: red;
    stroke-width: 2;
}

.cell-impossible {
    fill: lightgray;
}

.square {
    fill: none;
    z-index: -1;
}

.square-team-a {
    stroke: blue;
}

.square-team-b {
    stroke: red;
}

.square-complete {
    stroke-width: 3;
}

.square-partial {
    stroke-dasharray: 2,3;
}
