<html>
<body>
<div>
    <label for="gridSize">Grid Size:</label>

    <input
        type="number"
        [(ngModel)]="model.gridSize"
        min="3"
        max="10"
        name="gridSize"
        id="gridSize"
    />

    <button
        type="button"
        (click)="buildGrid()"
    >
        Generate Grid
    </button>
</div>

<svg
    [attr.width]="(GapSize + state.gridSize * (GapSize + CellSize))"
    [attr.height]="(GapSize + state.gridSize * (GapSize + CellSize))"
>
    <polygon
        *ngFor="let square of state.squares"
        [attr.points]="square.polyPoints"
        class="square"
        [class.square-team-a]="square.team === TeamEnum.TeamA"
        [class.square-team-b]="square.team === TeamEnum.TeamB"
        [class.square-partial]="!square.isComplete"
        [class.square-complete]="square.isComplete"
    ></polygon>

    <circle
        *ngFor="let cell of model.cells"
        (click)="clickCell(cell)"
        [attr.cx]="cell.xPos"
        [attr.cy]="cell.yPos"
        [attr.r]="CellSize / 2"
        class="cell"
        [class.cell-team-a]="cell.state === CellStateEnum.TeamA"
        [class.cell-team-b]="cell.state === CellStateEnum.TeamB"
        [class.cell-forced-a]="cell.state === CellStateEnum.ForcedA"
        [class.cell-forced-b]="cell.state === CellStateEnum.ForcedB"
        [class.cell-impossible]="cell.state === CellStateEnum.Impossible"
    ></circle>
</svg>
</body>
</html>
